@font-face {
	font-family: 'PoiretOne';
	src: url('PoiretOne-Regular.ttf');
}
@font-face {
	font-family: 'Cabin';
	src: url('Cabin-Regular.ttf');
}

body {
	background-color: #EEEEEE;
	color: #003048;
	font-family: Cabin;
}

h1 {
	font-family: PoiretOne;
}

img {
	border-radius: 5px;
}

.navbar-collapse {
	background-color: #FFFFFF;
}

.navbar {
	font-family: arial, sans-seriff;
	min-height:32px !important
}

.navbar-nav > li > a {
	padding-top:7px !important; 
	padding-bottom:7px !important;
}

li {
	margin:3px;
}
