app/external/*
!app/external/readme.txt
data/*
!data/readme.txt
app/views/*
!app/views/readme.txt
app/controllers/*.php
app/modules/*.php
app/helpers/*.php
app/styles/*.css
app/scripts/*.js
cache/*
app/app.ini

*.log
*.ini
*.png
*.gif
*.jpeg
*.jpg
*.bmp
*.svg

.helpers
.views
.audit

